@import 'variables';
@import 'toolbar';
@import 'forms';

.app {
  font-family: $base-font-family;
  overflow: auto;
  margin-bottom: $toolbar-height + $global-margin; // Make room for the toolbar.
}
