// Styles for notes.
// @todo - Most of these styles should be done with a library.

@import "../variables";
@import '../forms';

$card-width: 250px;
$card-gutter: $global-margin;
$card-background-color: #ebe3a8;
$card-font-family: Cursive, Arial;

:host {
  // Card wrapper styles here.
}

.card {
  background-color: $card-background-color;
  width: $card-width;
  display: inline-block;
  vertical-align: top;
  margin: $card-gutter;

  &__header {
    justify-content: space-between;
  }

  &__content {
    // @todo Find a better font.
    font-family: $card-font-family;
  }

  &__counter {
    display: flex;
    justify-content: flex-end;
    font-size: 80%;
  }
}
